references:
  H.sapiens:
    hg19_gonl_masked:
      reference_fasta: "{{ reference_dir }}/genome.fa"
      annotation_gtf: "{{ reference_dir }}/Homo_sapiens.GRCh37.71.cut.sorted.gtf"
      annotation_bed: "{{ reference_dir }}/meta-exons_v71_cut_sorted_22-05-14.bed"
      annotation_refflat: "{{ reference_dir }}/ucsc_gencode.nochr.refFlat"
      star:
        genomeDir: "{{ reference_dir }}/STARindex"
species: H.sapiens
reference_name: hg19_gonl_masked
igvtools:
  igvtools_jar: "{{ igvtools_path.stdout }}.jar"
  - "export PATH={{ ansible_env.HOME }}/miniconda/envs/igvtools/bin:$PATH"
  - "export LD_LIBRARY_PATH={{ ansible_env.HOME }}/miniconda/envs/igvtools/lib"
star:
  pre_commands:
  - "export PATH={{ ansible_env.HOME }}/miniconda/envs/star/bin:$PATH"
  - "export LD_LIBRARY_PATH={{ ansible_env.HOME }}/miniconda/envs/star/lib"
fastqc:
  exe: "{{ fastqc_path.stdout }}"
  pre_commands:
  - "export PATH={{ ansible_env.HOME }}/miniconda/envs/fastqc/bin:$PATH"
  - "export LD_LIBRARY_PATH={{ ansible_env.HOME }}/miniconda/envs/fastqc/lib"
htseqcount:
  pre_commands:
  - "export PATH={{ ansible_env.HOME }}/miniconda/envs/htseq/bin:$PATH"
  - "export LD_LIBRARY_PATH={{ ansible_env.HOME }}/miniconda/envs/htseq/lib"
seqtkseq:
  pre_commands:
  - "export PATH={{ ansible_env.HOME }}/miniconda/envs/qccommand/bin:$PATH"
  - "export LD_LIBRARY_PATH={{ ansible_env.HOME }}/miniconda/envs/qccommand/lib"
cutadapt:
  pre_commands:
  - "export PATH={{ ansible_env.HOME }}/miniconda/envs/qccommand/bin:$PATH"
  - "export LD_LIBRARY_PATH={{ ansible_env.HOME }}/miniconda/envs/qccommand/lib"
sickle:
  pre_commands:
  - "export PATH={{ ansible_env.HOME }}/miniconda/envs/qccommand/bin:$PATH"
  - "export LD_LIBRARY_PATH={{ ansible_env.HOME }}/miniconda/envs/qccommand/lib"
samtoolsview:
  pre_commands:
  - "export PATH={{ ansible_env.HOME }}/miniconda/envs/samtools/bin:$PATH"
  - "export LD_LIBRARY_PATH={{ ansible_env.HOME }}/miniconda/envs/samtools/lib"
samtoolsflagstat:
  pre_commands:
  - "export PATH={{ ansible_env.HOME }}/miniconda/envs/samtools/bin:$PATH"
  - "export LD_LIBRARY_PATH={{ ansible_env.HOME }}/miniconda/envs/samtools/lib"
wigtobigwig:
  pre_commands:
  - "export PATH={{ ansible_env.HOME }}/miniconda/envs/wigtobigwig/bin:$PATH"
  - "export LD_LIBRARY_PATH={{ ansible_env.HOME }}/miniconda/envs/wigtobigwig/lib"
