references:
  H.sapiens:
    hg19_gonl_masked:
      reference_fasta: "{{ reference_dir }}/genome.fa"
      annotation_gtf: "{{ reference_dir }}/Homo_sapiens.GRCh37.71.cut.sorted.gtf"
      annotation_bed: "{{ reference_dir }}/meta-exons_v71_cut_sorted_22-05-14.bed"
      annotation_refflat: "{{ reference_dir }}/ucsc_gencode.nochr.refFlat"
      star:
        genomeDir: "{{ reference_dir }}/STARindex"
species: H.sapiens
reference_name: hg19_gonl_masked
igvtools_jar: "{{ igvtools_path.stdout }}.jar"
igvtools:
  - "export PATH={{ ansible_env.HOME }}/miniconda/envs/igvtools/bin:$PATH"
  - "export LD_LIBRARY_PATH={{ ansible_env.HOME }}/miniconda/envs/igvtools/lib"
star:
  pre_commands:
  - "export PATH={{ ansible_env.HOME }}/miniconda/envs/star/bin:$PATH"
  - "export LD_LIBRARY_PATH={{ ansible_env.HOME }}/miniconda/envs/star/lib${LD_LIBRARY_PATH:+:$LD_LIBRARY_PATH}"
fastqc:
  exe: "{{ fastqc_path.stdout }}"
  pre_commands:
  - "export PATH={{ ansible_env.HOME }}/miniconda/envs/fastqc/bin:$PATH"
  - "export LD_LIBRARY_PATH={{ ansible_env.HOME }}/miniconda/envs/fastqc/lib${LD_LIBRARY_PATH:+:$LD_LIBRARY_PATH}"
htseqcount:
  pre_commands:
  - "export PATH={{ ansible_env.HOME }}/miniconda/envs/htseq/bin:$PATH"
  - "export LD_LIBRARY_PATH={{ ansible_env.HOME }}/miniconda/envs/htseq/lib${LD_LIBRARY_PATH:+:$LD_LIBRARY_PATH}"
seqtkseq:
  pre_commands:
  - "export PATH={{ ansible_env.HOME }}/miniconda/envs/qccommand/bin:$PATH"
  - "export LD_LIBRARY_PATH={{ ansible_env.HOME }}/miniconda/envs/qccommand/lib${LD_LIBRARY_PATH:+:$LD_LIBRARY_PATH}"
cutadapt:
  pre_commands:
  - "export PATH={{ ansible_env.HOME }}/miniconda/envs/qccommand/bin:$PATH"
  - "export LD_LIBRARY_PATH={{ ansible_env.HOME }}/miniconda/envs/qccommand/lib${LD_LIBRARY_PATH:+:$LD_LIBRARY_PATH}"
sickle:
  pre_commands:
  - "export PATH={{ ansible_env.HOME }}/miniconda/envs/qccommand/bin:$PATH"
  - "export LD_LIBRARY_PATH={{ ansible_env.HOME }}/miniconda/envs/qccommand/lib${LD_LIBRARY_PATH:+:$LD_LIBRARY_PATH}"
samtoolsview:
  pre_commands:
  - "export PATH={{ ansible_env.HOME }}/miniconda/envs/samtools/bin:$PATH"
  - "export LD_LIBRARY_PATH={{ ansible_env.HOME }}/miniconda/envs/samtools/lib${LD_LIBRARY_PATH:+:$LD_LIBRARY_PATH}"
samtoolsflagstat:
  pre_commands:
  - "export PATH={{ ansible_env.HOME }}/miniconda/envs/samtools/bin:$PATH"
  - "export LD_LIBRARY_PATH={{ ansible_env.HOME }}/miniconda/envs/samtools/lib${LD_LIBRARY_PATH:+:$LD_LIBRARY_PATH}"
wigtobigwig:
  pre_commands:
  - "export PATH={{ ansible_env.HOME }}/miniconda/envs/wigtobigwig/bin:$PATH"
  - "export LD_LIBRARY_PATH={{ ansible_env.HOME }}/miniconda/envs/wigtobigwig/lib${LD_LIBRARY_PATH:+:$LD_LIBRARY_PATH}"
bedtoolscoverage:
  pre_commands:
  - "export PATH={{ ansible_env.HOME }}/miniconda/envs/bedtools/bin:$PATH"
  - "export LD_LIBRARY_PATH={{ ansible_env.HOME }}/miniconda/envs/bedtools/lib${LD_LIBRARY_PATH:+:$LD_LIBRARY_PATH}"
bedtoolscoverage-hist2count:
  pre_commands:
  - "export PATH={{ ansible_env.HOME }}/miniconda/envs/bedtools/bin:$PATH"
  - "export LD_LIBRARY_PATH={{ ansible_env.HOME }}/miniconda/envs/bedtools/lib${LD_LIBRARY_PATH:+:$LD_LIBRARY_PATH}"
